@import "_config.scss";

//header css
header{
  position: relative;
  display: block;
  width: 100%;
  background: white;
  color: black;
  height: 90px;
  border-bottom: 2px solid #889cbf;

  .align{
    display: flex;
  }

  .logo{
     position: relative;
     top: 14px; left:10px;
   }

  .titre{
    top: 58%; left:70%;
    margin-left: 5%;
    color: black;
    font-family: "Comic Sans MS";
  }


  // css for navigation and menu
  nav{
    position: absolute;
    top: 58%; right:15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last{
        margin: 0;
      }

      a{
        line-height: normal;
        color: black;
      }
    }


  }


}

// css for login and signup
.Login {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;

}p,a{
   margin-right: 2%;
   margin-left: 2%;
 }


// css for center text
div{
  h1{
    text-align: center;
    padding-bottom: 20px;
    font-family: "Comic Sans MS";
  }

  p{
    text-align: center;
    font-family: "Comic Sans MS";
  }
  h3{
    text-align: center;
    font-family: "Comic Sans MS";
  }
  .nb {
    font-family: Algerian;
    font-size: 50px;
  }
}

// css for card's look
.boxcarte{
  border-style: solid;
  border-color: #889cbf;
  border-width: 0.30px;
  border-radius: 10px;
  background-color: rgba(216, 255, 243, 0.34);
  width: 90%;
  padding: 40px 3%;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 8%;
  box-shadow: 3px 4px 4px #39383d;
  p,a{
    margin-right: 2%;
    margin-left: 2%;
  }
  h3{
    border-style: solid;
    border-color: black;
    border-width: 0.50px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: auto;
  }
}

// css for btn in cards
.btn-info {
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  left:2%;
}

.tuto{
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

